<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/alina.avram/IdeaProjects/BookerProjectTesting">
        <classes><class name="HamcrestTest.Tests">
            <methods>
                <include name="getOneBook"/>
                <include name="getAllBooksTest"/>
            </methods>
        </class>
            <class name="Test.CreateBookingTest">
                <methods>
                    <include name="getBookingByIdTest"/>
                    <include name="postBookingTest"/>
                    <include name="getTest"/>
                    <include name="updateTest"/>
                    <include name="deleteBookTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>